---
import "../styles/global.css";
import "@fontsource/ibm-plex-serif";
import "@fontsource/dm-serif-text";

import { Image } from "astro:assets";

import BodyCaption from "../components/body-caption.astro";
import BodyImage from "../components/body-image.astro";
import BodyText from "../components/body-text.astro";

import headerImage from "../images/header.jpg";
import rainbowPavillionDetailImage from "../images/rainbow-pavilion-detail.jpg";
import eastBroadwayMallImage from "../images/east-broadway-mall.jpg";
import mollyTeaImage from "../images/molly-tea.jpg";
import pellStreetOne from "../images/pell-street-1.jpg";
import pellStreetTwo from "../images/pell-street-2.jpg";
import wahFungFastFoodImage from "../images/wah-fung-fast-food.jpg";
import corkyLeeMuralOneImage from "../images/corky-lee-mural-1.jpg";
import corkyLeeMuralTwoImage from "../images/corky-lee-mural-2.jpg";
import doyersStreetOneImage from "../images/doyers-street-1.jpg";
import rooseveltParkImage from "../images/roosevelt-park.jpg";
import lucyImage from "../images/lucy.jpg";
import forsythStreetHighImage from "../images/forsyth-street-high.jpg";
import forsythStreetGroundImage from "../images/forsyth-street-ground.jpg";
import streetImage from "../images/street.jpg";
import canalStreetQTrainImage from "../images/canal-street-q-train.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content="A Stroll Through Chinatown: Unraveling Chinatown Culture Through Streetscapes"
    />
    <meta property="og:url" content="https://chinatown.gilbertz.me" />
    <meta
      property="og:image"
      content="https://chinatown.gilbertz.me/header.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="og:description"
      content="From Chatham Square to Grand Street, generations of Chinese immigrants have woven vibrant tapestries of culture, commerce, and community that continue to evolve with each passing decade."
    />
    <meta property="article:author" content="Gilbert Zhang" />
    <title>
      A Stroll Through Chinatown: Unraveling Chinatown Culture Through
      Streetscapes
    </title>
  </head>
  <body>
    <header
      class="w-screen min-h-screen bg-neutral-950 flex justify-center items-center"
    >
      <div>
        <Image
          src={headerImage}
          alt="Chinatown"
          class="w-full h-auto max-h-screen bg-neutral-950"
          loading="eager"
          aria-describedby="header-description"
          data-header
        />

        <div
          class="lg:absolute bottom-0 left-0 xl:w-2/3 px-12 py-10 text-white text-shadow-neutral-700 text-shadow-lg space-y-2"
        >
          <h1 class="text-3xl md:text-4xl lg:text-5xl">
            A Stroll Through Chinatown: Unraveling Chinatown Culture Through
            Streetscapes
          </h1>
          <p class="text-xl">by Gilbert Zhang</p>
        </div>
      </div>
    </header>

    <main
      class="flex justify-center mt-4 flex-col items-center space-y-10 mb-80"
    >
      <div class="px-4 md:px-6 w-full max-w-3xl mt-4">
        <p class="text-neutral-500" id="header-description">
          Mott Street represents the foundation of Chinese immigrant presence in
          New York City, established in the late 19th century when the first
          significant Chinese population settled in Lower Manhattan. Today, it
          remains both a living cultural repository and a dynamic commercial
          center. <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera.</span
          >
        </p>
      </div>

      <BodyText>
        <p>
          From Chatham Square to Grand Street, generations of Chinese immigrants
          have woven vibrant tapestries of culture, commerce, and community that
          continue to evolve with each passing decade. What began in the late
          19th century has blossomed into a thriving and multidimensional
          neighborhood. These streets, with their hanging lanterns, bilingual
          signage, and lively markets reflect much more than just an ethnic
          enclave; they embody the experience of Asian American immigrants—and
          the new generation.
        </p>

        <p>
          The story of these neighborhoods is not just one of survival, but of
          resilience and adaptation, as they have navigated the complexities of
          urban life in one of the world's most dynamic cities. Given an ever
          shifting culture and a growing younger generation, what&apos;s next
          for Chinatown?
        </p>
      </BodyText>

      <BodyImage horizontal>
        <div
          class="flex flex-col lg:flex-row gap-2 max-w-full lg:h-[26rem] xl:h-[32rem] 2xl:h-[42rem] justify-center"
        >
          <Image
            src={forsythStreetHighImage}
            alt=""
            class="h-full aspect-[16/10] w-auto"
            loading="eager"
          />

          <Image
            src={forsythStreetGroundImage}
            alt=""
            class="h-full aspect-[3/4] w-auto"
            loading="eager"
          />
        </div>
        <BodyCaption>
          This photo depicts a section of Forsyth Street running along the
          Manhattan Bridge. Under the bridge, people can be seen gathering
          around street vendors selling fresh fruits, vegetables, homemade
          foods, and other miscellaneous household goods. The street is a
          bustling hub of activity, with vendors setting up stalls daily and
          locals hunting for fresh produce and good deals.
          <span class="italic">Photo taken with an iPhone 12</span>.
        </BodyCaption>
      </BodyImage>

      <BodyImage>
        <Image src={streetImage} alt="" class="w-full h-auto" loading="eager" />
        <BodyCaption>
          This image captures Eldridge Street in Manhattan's Chinatown, where
          the pulse of everyday commerce unfolds beneath fire escapes and
          vertical Chinese signage. Street vendors display their wares on metal
          racks along the sidewalk—clothing, bags, and household goods carefully
          arranged while shopkeepers keep watchful eyes on their merchandise.
          <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera</span
          >.
        </BodyCaption>
      </BodyImage>

      <BodyImage>
        <Image
          src={eastBroadwayMallImage}
          alt=""
          class="w-full h-auto"
          loading="eager"
        />
        <BodyCaption>
          This photo was take just down Forsyth Street with the Manhattan Bridge
          going overhead. On the right is the past entrance to the East Broadway
          Mall, a shopping center that was once a breathing hub for
          Chinese-American businesses. The mall closed in 2019 due to economic
          challenges and changing consumer habits.
          <span class="italic">Photo taken with an iPhone 12</span>.
        </BodyCaption>
      </BodyImage>

      <BodyImage>
        <Image src={lucyImage} alt="" class="w-full h-auto" loading="eager" />
        <BodyCaption>
          Lucy sells accessories and souvenir items on the sidewalk of Grand
          Street close to the subway station. Her stall has become a familiar
          sight for locals. HeyTea can be seen in the background. They are a
          popular smoothie and tea shop that has gained a following among
          younger generations.
          <span class="italic">Photo taken with an iPhone 12</span>.
        </BodyCaption>
      </BodyImage>

      <BodyText>
        <p>
          "How&apos;s it going, Lucy? I haven&apos;t seen you in a while!" a
          passerby enthusiastically greets her with a smile and a handshake.
          They catch up for a moment before the passerby continues on their way.
        </p>

        <p>
          Lucy tells the story of many elderly Asian people: "I sell souvinir on
          the side of the street because it&apos;s an easy way to make money."
          She has been selling her wares for over 20 years, and her stall has
          become a familiar sight for locals. "I love this neighborhood. I know
          everyone here. I know all the shop owners, and they know me. We all
          look out for each other. It&apos;s like a family."
        </p>
      </BodyText>

      <BodyImage>
        <Image
          src={rooseveltParkImage}
          alt=""
          class="w-full h-auto"
          loading="eager"
        />
        <BodyCaption>
          Sara D. Roosevelt Park is a park located in the heart of Chinatown
          next to the Grand Street subway station. The park is a popular
          gathering place for local residents and features a playground,
          basketball courts, and a community garden.
          <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera</span
          >.
        </BodyCaption>
      </BodyImage>

      <BodyText>
        <p>
          [Translated from Cantonese] "Whenever the weather is nice, there's
          always parents playing with kids in the playground, teenagers playing
          basketball and soccer on the courts, and older gentlemen playing
          handball," observes Mrs. Li, a frequent park-goer who has lived in the
          neighborhood for over three decades.
        </p>
      </BodyText>

      <BodyImage>
        <Image
          src={rainbowPavillionDetailImage}
          alt="Rainbow Pavilion Detail"
          class="w-full h-auto"
          loading="eager"
        />
        <BodyCaption>
          Located on Mott Street, <i>Rainbow Pavilion</i> is a store that sells a
          variety of Chinese stationary and decorative items. The storefront is lined
          with bold-red and gold paper lanterns, firecrackers, and other paraphernalia
          that are commonly used during Lunar New Year. An auspicious color, red
          symbolizes good fortune and joy, while gold represents wealth and prosperity.
          <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera</span
          >.
        </BodyCaption>
      </BodyImage>

      <BodyText>
        <p>
          The outskirts of Chinatown are much more romanticized than its
          bustling core, transformed by the discerning gaze of outsiders seeking
          an "authentic" yet comfortable cultural experience. Here, at the
          blurry boundaries where Chinatown bleeds into SoHo or the Lower East
          Side, upscale dim sum restaurants with minimalist interiors and craft
          cocktail menus replace the fluorescent-lit banquet halls favored by
          locals.
        </p>
      </BodyText>

      <BodyImage horizontal>
        <div
          class="flex flex-col lg:flex-row gap-2 max-w-full lg:h-[28rem] xl:h-[33rem] 2xl:h-[42rem] justify-center"
        >
          <Image
            src={pellStreetTwo}
            alt=""
            class="h-full aspect-[2/3] w-auto"
            loading="eager"
          />
          <Image
            src={pellStreetOne}
            alt=""
            class="h-full aspect-[16/10] w-auto"
            loading="eager"
          />
        </div>

        <BodyCaption>
          Pell Street is a historic street in Chinatown, considered part of
          "Little Hong Kong." It is lined with restaurants, beauty salons, and
          game rooms. The street is a popular destination for tourists and
          locals.
          <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera</span
          >.
        </BodyCaption>
      </BodyImage>

      <BodyImage>
        <Image
          src={doyersStreetOneImage}
          alt=""
          class="w-full h-auto"
          loading="eager"
        />
        <BodyCaption>
          Doyers Street is a short street in Chinatown. Althought it was named
          after a Dutch tavern owner, a Chinese population bloomed around it in
          the late 1800s-early 1900s with a theater, tea house, and a post
          office. <span class="italic">Rice Terraces</span> (on the ground), a painting
          by Dasic Fernandez and a mural of Corky Lee (see below), are located on
          the street.
          <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera</span
          >.
        </BodyCaption>
      </BodyImage>

      <BodyImage>
        <Image
          src={corkyLeeMuralOneImage}
          alt=""
          class="w-full h-auto"
          loading="eager"
        />
        <Image
          src={corkyLeeMuralTwoImage}
          alt=""
          class="w-full h-auto"
          loading="eager"
        />
        <BodyCaption>
          Corky Lee (September 5, 1947 &hyphen; January 27, 2021) was a
          Chinese-American photojournalist and activist known for his work
          documenting an authentic and unmoderated view of the Asian-American
          experience. Famously describing his camera as a "weapon of injustice,"
          Lee's work often documented the struggles and triumphs of
          Asian-Americans not often seen in mainstream media. This mural,
          located on the corner of Doyers St. and Bowery St., is a tribute to
          his legacy and impact on the Asian-American community.
          <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera</span
          >.
        </BodyCaption>
      </BodyImage>

      <BodyImage>
        <Image
          src={wahFungFastFoodImage}
          alt=""
          class="w-full h-auto"
          loading="eager"
        />
        <BodyCaption>
          Wah Fung Fast Food is a popular hole-in-the-wall eatery located on
          Chrystie St. It is known for its delicious and affordable roast pork
          and duck rice plates. The restaurant has a loyal following among
          locals and tourists alike, who often line up outside to get their fix.
          <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera</span
          >.
        </BodyCaption>
      </BodyImage>

      <BodyImage>
        <Image
          src={mollyTeaImage}
          alt=""
          class="w-full h-auto"
          loading="eager"
        />
        <BodyCaption
          >Molly Tea is an emerging tea shop focusing on the natural flavors and
          health benefits of tea. The shop is especially popular among younger
          generations, who can be seen lining up outside the store.
          <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera</span
          >.
        </BodyCaption>
      </BodyImage>

      <BodyImage>
        <Image
          src={canalStreetQTrainImage}
          alt=""
          class="w-full h-auto"
          loading="eager"
        />
        <BodyCaption>
          The Canal Street subway station (alongside Grand Street) is a major
          artery for connecting the Chinatown neighborhood to the rest of
          Manhattan. The Q and N train allows for an easy commute to other
          Chinese neighborhoods in Brooklyn and Queens, enabling interconnection
          between the three communities.
          <span class="italic"
            >Photo taken with a Canon EOS Rebel T7 DSLR Camera</span
          >.
        </BodyCaption>
      </BodyImage>

      <BodyText>
        <p>
          Today, young Chinese Americans and recent immigrants negotiate their
          relationships with this historic neighborhood, balancing the weight of
          their heritage with the realities of modern life. Chinatown finds
          itself at a crossroads of preservation and progress, where the past
          and future coexist in a delicate dance. Some return to open businesses
          that honor traditional techniques while introducing contemporary
          sensibilities. Others advocate for affordable housing and commercial
          rent control to ensure the neighborhood remains accessible to
          working-class immigrants.
        </p>
        <p>
          Businesses and people have opened, closed, changed, and adapted
          through decades of economic shifts, gentrification pressures, and
          cultural evolution, yet the soul of these neighborhoods remains—a
          testament to the enduring spirit of immigrant communities that have
          transformed urban spaces into homes away from home.
        </p>
      </BodyText>

      <hr class="border-neutral-300 my-4 max-w-[1280px] w-full" />

      <BodyText>
        <div class="text-base leading-7 space-y-4">
          <p class="font-bold">Comment from the author:</p>
          <p>
            This was an assignment on <a
              class="italic underline"
              href="https://nytlicensing.com/latest/marketing/what-is-photojournalism/"
              target="_blank"
              rel="noreferrer noopener">photojournalism</a
            > for my
            <span>Journalism</span> class at Brooklyn Technical High School. I picked
            Chinatown because it is a neighborhood I am familiar with and have lived
            in for a large majority of my life. The specific topic of gentrification
            came to life when I was walking around my neighborhood and saw how different
            it was from when I was a child (for one: I couldn&apos;t buy beef skewers
            from <span class="italic">that</span> spot anymore D:). I wish that moving
            forwards, the neighborhood can find a balance between preserving its
            rich history and culture while also adapting to the needs of the new
            generation.
          </p>
          <p>
            I&apos;d like to thank Renee for teaching me how to use a DLSR
            camera.
          </p>
          <p>
            I&apos;d like to thank Mr. Virzi for forcing me to take these photos
            and write this essay.
          </p>
          <p>
            I&apos;d like to thank Lucy and Mrs. Li for agreeing to be
            interviewed.
          </p>
        </div>
      </BodyText>
    </main>
  </body>
</html>
